BYBIT_API_KEY=Bhs83UT6IblhIYii2n
BYBIT_API_SECRET=h3ujZ55ytWY4I7R2BjNrW7v7q1YL1bMqQf9P
BYBIT_TESTNET=false
BYBIT_DEMO=false
SYMBOL=USDCUSDT
CATEGORY=spot
PAPER_MODE=true
ORDER_SIZE=1000
ENTRY_OFFSET=0.0001
EXIT_OFFSET=0.0001
MIN_PROFIT_FLOOR=0.0001
PRICE_REPRICE_THRESHOLD=0.0001
LOOP_INTERVAL_SEC=2
STATE_FILE=state.json
LOG_LEVEL=INFO
